fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic-settings
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pdfplumber
sentence-transformers
faiss-cpu
groq
streamlit
langchain 
langchain-community 
faiss-cpu 
sentence-transformers
pdfplumber 
langchain-groq